<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='icon' href='./static/assets/favicon.ico' type='image/x-icon'/ >
  <title>Sean Marman</title>
  <link rel="stylesheet"type="text/css" href="/static/stylesheets/main.css">
</head>
<body>
 <h1>Template file</h1>
</body>
</html>
